<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script type="text/javascript" src="https://lastsoup.github.io/themes/nifty/js/jquery-2.2.4.min.js"></script>
	<link href="/public/cityselect.css" rel="stylesheet">
	<!-- <script type="text/javascript" src="/public/json/streetdata.js"></script> -->
    <script type="text/javascript" src="/public/jquery.cityselect.js"></script>
</head>
<body style="padding:20px;background: #fff;">
    <div id="firstVue">
        <my-component></my-component>
        <my-area></my-area>
    </div>
    {% set extend= ""%}
    {% if isProduction %}
    {% set extend= ".min"%}
    {% endif %}
    <script src='./dist/vendor/js/main{{extend}}.js'></script>
    <script type="text/javascript" src="/dist/js/commons{{extend}}.js"></script>
    <script type="text/javascript" src="/dist/js/main{{extend}}.js"></script>
</body>
</html>
